article#page
  .article-container
    blockquote
      p#blockquote_momik= "人的生命有限。倘若你能专注地看一本书，一部电影，你就因此经历了另外一个人生。"
    .hexo-douban-tabs
      a#hexo-douban-tab-do.hexo-douban-tab(href="javascript:;" rel="external")="在看(0)"
      a#hexo-douban-tab-wish.hexo-douban-tab(href="javascript:;" rel="external")="想看(0)"
      a#hexo-douban-tab-collect.hexo-douban-tab(href="javascript:;" rel="external")="已看(0)"
    div
      #hexo-douban-item

      .hexo-douban-pagination
        a.hexo-douban-button.hexo-douban-firstpage(href="javascript:;")="首页"
        a.hexo-douban-button.hexo-douban-previouspage(href="javascript:;")="上一页"
        span.hexo-douban-pagenum= "2 / 3"
        a.hexo-douban-button.hexo-douban-nextpage(href="javascript:;")="下一页"
        a.hexo-douban-button.hexo-douban-lastpage(href="javascript:;")="尾页"

  if page.comments !== false
    include includes/comments/index.pug
// script(src="/js/movies.js")